{% extends "layout.html" %}

{% block title %} About {% endblock %}

{% block body %}

<p>
    <div class = "container">
        <h2 style="text-align: center;"> ⪼About⪻</h2>
        <hr>
        <span  style = "font-size:large">

            <p>We have many great applications which tell us how much water to drink everyday, calories to consume to stay in shape etc and different apps to help
                us keep a track of them, but barely any of them do all of that at one station, This was the inspiration behind this web app.
                <br><br><b>Health Info</b> is a web application which displays the:
                <ul>
                    <li>Amount of water you should drink everyday. </li>
                    <li>Hours of sleep you must get everyday.</li>
                    <li>Calories you should consume to maintain your current weight for a sedentary lifestyle.</li>
                </ul>
                It has a <b>Tracker</b> built in, which helps you keep track of the following information:<br>
                <ul>
                    <li>Hours you slept today</li>
                    <li>Glasses of water you drank today</li>
                    <li>Calories you consumed today</li>
                </ul>
                Some additional features of the app:
                <ul>
                    <li>A <u><a href = "https://www.nutritionix.com/database" style = " color:rgb(128, 74, 199);">huge database</a></u> to search for food items and get the amount of calories present in them.</li>
                </ul>
            </p>
        </span>
        <hr>
        </div>
    </p>

{% endblock %}