{% extends "layout.html" %}

{% block script %}

<script>
    document.addEventListener("DOMContentLoaded", function()
    {
        let gender = document.querySelector("#gender");
        let kg = document.querySelector("#option1");
        let pounds = document.querySelector("#option2");
        let cm = document.querySelector("#option3");
        let feet = document.querySelector("#option4");
        let msg2 = document.querySelector("#msg2");
        let msg1 = document.querySelector("#msg1");

        if ( "{{user["gender"]}}" == "Male"){
            gender.value = "Male";
        }
        else if ( "{{user["gender"]}}" == "Female"){
            gender.value = "Female";
        }

        kg.addEventListener("change", function(){
            msg1.innerHTML = "(in Kg)";
        })

        pounds.addEventListener("change", function(){
            msg1.innerHTML = "(in pounds)";
        })

        feet.addEventListener("change", function(){
            msg2.innerHTML = " (feet:)";
            // document.querySelector("#inchesField").disabled = false;
            document.querySelector("#inchesField").classList.toggle("d-none")
            document.querySelector("#msg3").classList.toggle("d-none")

        })

        cm.addEventListener("change", function(){
            msg2.innerHTML = " (in cm:)";
            // document.querySelector("#inchesField").disabled = true;
            document.querySelector("#inchesField").classList.toggle("d-none")
            document.querySelector("#msg3").classList.toggle("d-none")
            
        })
        
    })
</script>

{% endblock %}

{% block title %} login {% endblock %}

{% block body %}
<div class = " mydiv border border-primary p-5 rounded text-center">
<h4 class="display-1">current info.</h4>
{% for field in fields %}
{{ field }} : 
    {% if user[field] %}
    
        {{user[field]}}   

            {% if field == "age" %}
                years old

            {% elif field == "height" %}
                cm or {{ user[field] | cmToFeet }}

            {% elif field == "weight" %}
                Kg or {{ user[field] | KgToPounds }}    

            {% endif %}
            
    {% else %}
        Not Added yet
    {% endif %}
<br>
{% endfor %}
<h4 class="display-1">update account info.</h4>

<form action="/accountsettings" method="post">
    
    <div class = "form-control">
    <label for ="gender"></label>Gender:</label>
    <select class="form-select" aria-label="Default select example"  name = "gender" id = "gender">
        <option value = "" selected>Select</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
      
    
    <div class="form-group">
        <label for="age">Age:</label>
        <input autocomplete="off" autofocus class="form-control" name="age" placeholder="age" type="number" value = {{user["age"]}}>
    </div>  

    <div class="form-group">
        <label for="weight">Weight: <span id = "msg1" >(in Kg)</span></label>
        <input class="form-control" name="weight" placeholder="weight" type="number" min = "0"  step="any" value = {{user["weight"]}}>

        <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" value = "kg" checked>
        <label class="btn btn-outline-primary" for="option1">Kg</label>
        
        <input type="radio" class="btn-check" name="options" id="option2" value = "pounds" autocomplete="off">
        <label class="btn btn-outline-primary" for="option2">Pounds</label>

    </div>

    <div class="form-group">
        <label for="height">Height:<span id = "msg2" > (in cm:)</span></label>
        <input class="form-control" name="height" placeholder="height" type="number" min = "0" step="any" value = {{user["height"]}}>

        <span id = "msg3" class = "d-none">inches:</span>
        <input class="form-control d-none" name="inches" placeholder="height" type="number" step="any" max = "11" id = "inchesField" value = 0>

        <input type="radio" class="btn-check" name="options2" id="option3" value = "cm" checked>
        <label class="btn btn-outline-primary" for="option3">cm</label>
        
        <input type="radio" class="btn-check" name="options2" id="option4" value = "feetAndInches" autocomplete="off">
        <label class="btn btn-outline-primary" for="option4">Feet&Inches</label> <br>

    </div>

    <button class="btn btn-primary mt-3" type="submit">update info</button>
</form>
</div>

{% endblock %}