{% extends "layout.html" %}

{% block title %} History {% endblock %}

{% block body %}
<div class = "mydiv p-5 border border-primary rounded">
<h6 class="display-6">Today</h6>

<table class="table table-primary table-striped">
    <thead>
        <tr>
            <th>Date and Time</th>
            <th> Glasses drank</th>
            <th> Hours slept</th>
            <th>Calories consumed</th>
        </tr>
    </thead>
    
    {% for row in today %}
    <tr>
        <td> {{row.TRANSACTED | convertToUserTZ}}</td>
        <td>{{row.glasses}}</td>
        <td>{{row.sleep}}</td>
        <td>{{row.calories}}</td>
    </tr>
    {% endfor%}
  </table>

  <br><br>
  <h6 class="display-6">Older</h6>(click a date for full Information)
  <table class="table table-primary table-striped">
    <thead>
        <tr>
            <th>Date </th>
            <th> Glasses drank</th>
            <th> Hours slept</th>
            <th>Calories consumed</th>
        </tr>
    </thead>
    
    {% for row in older %}
    <tr>
        <td ><form action = "/moreinfo" method ="GET"><input type = "hidden" name = "index" value = {{row.date1}}>
        <input type="submit" name="submit" value="{{row.date1}}" class="btn btn-primary">
         </form></td>
        <td>{{row.glasses}}</td>
        <td>{{row.sleep}}</td>
        <td>{{row.calories}}</td>
    </tr>
    {% endfor%}
  </table>
  </div>
{% endblock %}