{% extends "layout.html" %}

{% block title %} index {% endblock %}

{% block body %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let cars = document.querySelector('#cars');
        let input = document.querySelector('#searchFood');
        input.addEventListener('keyup', async function(){

                let output = await fetch('/searchFood?q=' + input.value);
                let response = await output.json();
                console.log(response);
                
                let len = cars.options.length;
                
                for (let i = 1; i < len; ++i)
                {
                    cars.options[i] = null;
                }
                
                for (let i = 1; i <= 10; ++i)
                {
                    let option = document.createElement('option');
                    option.text = response["common"][i]["food_name"];
                    cars.add(option);
                }
        });
    });
        async function test1(value){
            let strUser = value;
            let output = await fetch('/nutritionInfo?q=' + strUser);
            let response = await output.json();
            document.querySelector("#calories").value = response["calories"];
                
        };      
</script>

<div class="mydiv row align-items-start border border-primary rounded pb-5 pt-5">
<div class = "col border-end border-primary ms-4">
    <h5 class="display-5 text-center pb-3">Information</h4>

<div class = "row">
    <div class = "col-sm-12 col-md-3">

        <img src = "/static/water.png" class = "indexImg">
    </div>
    <div class = "col pt-3">

        {% if info.waterToDrink %}
        <span class = "text-primary myInfoText">Drink at least {{info.waterToDrink}} ounces/ {{info.waterToDrink | toLitres}} Litres / {{info.glassesToDrink}} glasses of water everyday</span><br>
        {% else %}
        <span class = "text-primary myInfoText">Add weight from settings to display</span><br>
        {% endif %}
    </div>
</div>
<br>

<div class = "row">
    <div class = "col-sm-12 col-md-3">
<img src = "/static/sleep.png" class = "indexImg">
</div>
<div class = "col pt-3">
{% if info.sleepToGet %}
<span class = "text-primary myInfoText">Sleep {{info.sleepToGet}} </span><br>
{% else %}
<span class = "text-primary myInfoText">Add age from settings to display</span><br>
{% endif %}
</div>
</div>
<br>

<div class = "row">
    <div class = "col-sm-12 col-md-3">
<img src = "/static/food.png" class = "indexImg">
    </div>
<div class = "col pt-3">
{% if info.caloriesToConsume %}
<span class = "text-primary myInfoText"> Consume {{info.caloriesToConsume}} calories to maintain weight (for sedentary lifestyle) </span><br>
{% else %}
<span class = "text-primary myInfoText">Add info from settings to display</span><br>
{% endif %}
</div>
</div>
</div>

<div class = "col ms-4">
    <h5 class="display-5 text-center pb-3">Tracker</h4>
<form action="/" method="post">

    <div class="form-group">
        <label for="glassesOfWater">Glasses of water:</label>
        <input autocomplete="off" class="form-control" name="glassesOfWater" placeholder="glasses" type="number">
        glasses drank today: {{ glassesOfWater }}
        {% if info.waterToDrink %}
            {% if glassesOfWater >= info.glassesToDrink %}
                
                <img src = "/static/welldone.gif" class = "smallImg">
            {% else %}
            <img src = "/static/pensive2.jpg" class = "smallImg">
            {% endif %}
        {% endif %}
    </div>
    
    <div class="form-group">
        <label for="age">Hours of sleep:</label>
        <input autocomplete="off" class="form-control" name="hoursOfSleep" placeholder="hours" type="number">
        hours slept today: {{ hoursOfSleep }}
        {% if info.sleepToGet %}
        {% if hoursOfSleep >= (info.sleepToGet | numExtraction) %}
        <img src = "/static/welldone.gif" class = "smallImg">
    {% else %}
    <img src = "/static/pensive2.jpg" class = "smallImg">
    {% endif %}

        {% endif %}
    </div>

        <div class="form-group">
            <label for="query">search food: </label>
            <input autocomplete="off" class="form-control" id="searchFood" name="hoursOfSleep" placeholder="enter food name" type="text">
        </div>
        
        <div class = "form-group">
        <select name="cars" class = "form-select " style = "width:auto" id="cars" onchange="test1(this.value)">
            <option value = '' selected disabled> Click to expand search results</option>
          </select>
        </div>

        <div class="form-group">
            <label for="calories"> enter amount of calories </label>
            <input autocomplete="off" class="form-control" id="calories" name="calories" placeholder="Enter manually or search food" type="number" step = "any">
            <br>calories consumed today in total : {{caloriesConsumed}}
        </div>
        
        <div class = "text-center">

            <button class="btn btn-primary mt-3" type="submit">update info</button>

        </div>
</form>
</div>
</div>


{% endblock %}