{% extends "layout.html" %}

{% block title %} login {% endblock %}

{% block body %}
<div class = "mydiv p-5 border border-primary rounded">
    <h6 class="display-6">Details for: {{date}}</h6>
    
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Date and Time</th>
                <th> Glasses drank</th>
                <th> Hours slept</th>
                <th>Calories consumed</th>
            </tr>
        </thead>
        
        {% for row in rows %}
        <tr>
            <td> {{row.TRANSACTED}}</td>
            <td>{{row.glasses}}</td>
            <td>{{row.sleep}}</td>
            <td>{{row.calories}}</td>
        </tr>
        {% endfor%}
      </table>
{% endblock %}