{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block body %}
<div class = "row p-4 justify-content-center" style= "text-align: center;" >
    
    <div class = "col-xs-12 col-md-3 rounded-3">
    <h3 class="display-3">Register.</h3>
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username"  placeholder="Username" type="text">
        </div>
    
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" autocomplete = "off">
        </div>
    
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="confirm Password" type="password" autocomplete = "off">
        </div>
        <button class="btn btn-primary mt-3" type="submit">register</button>
        <hr>
        note- username and password must have at least 5 characters.
        <hr>
    </form>
</div>
</div>

{% endblock %}